<h1 style="display: flex;align-items: center;justify-content: center;margin-left: -50px;">Soldiers </h1>
<div class="container">
  <label class="label">Send reply to the General: </label>
  <input type="button" value="Ok" class="btn" (click)="buttonclick1()">
  <input type="button" value="Fallback" class="btn" (click)="buttonclick2()">
  <input type="button" value="Help" class="btn" (click)="buttonclick3()">
</div>
<div>
  <h4 style="display: flex;align-items: center;justify-content: center;margin-left: -20%;">View the orders here : {{order}}</h4>
</div>

<br>
